{% extends 'Header.html.twig' %}
{% block title %}
    Create test implementation BFS Algorithm
{% endblock %}

{% block body %}
    <div id="mid-container">
        <h3>Upload a file with your algorithm implementation</h3>
        {{ form(form) }}
    </div>
{% endblock %}