{% extends 'Header.html.twig' %}

{% block title %}Dedykacja{% endblock %}

{% block body %}

    <div class="center-dedication">
        <h2>Cały projekt dedykuję swojej żonie Annie</h2>
    </div>

{% endblock %}