###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
public/*
!public/bfs
!public/dfs
!public/dijkstra
!public/kruskal
!public/prim
!public/topological_sorting
!public/bellman_ford
!public/floyd_warshall
!public/johnson
!public/fleury
supervisord.log
supervisord.pid
###< symfony/framework-bundle ###

### PhpStorm ###

.idea
